$ff: 'Merriweather', serif;
$ffr: 'Raleway', sans-serif;


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif; 
}
* {
    box-sizing: border-box;
}

   /* Container */
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

   /* Header */

.header {
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1000; 
   padding-top: 55px;
   &.active {
     background-color: #f0f0f2; 
     padding: 20px 0; 
   }
   &.fixed { 
    padding: 20px 0;  
    background-color: #f0f0f2;
    position: fixed;
    top: 0;
    right: 0;
    transform: translate3d(0, 0, 0);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
   
}
   .header__inner {
       display: flex;
       justify-content: space-between;
      align-items: center;
      .header__logo {
          cursor: pointer;
      }

        .nav {
            
       .nav__link {
           display: inline-block;
           text-transform: uppercase;
           text-decoration: none;
           color: #606061;
           font-size: 15px;
           margin: 0 12px;
           position: relative;
        &.active:after {
            display: block;
            margin: 10px 0;
            content: "";
            width: 100%;
            height: 3px;
            background-color: #606061;
            position: absolute;
            opacity: 1;
            transition: all 0.2s ease-in-out;
        }

           &:hover:after {
               opacity: 1;
           }

           &:after {
               display: block;
               margin: 10px 0;
               content: "";
               width: 100%;
               height: 3px;
               background-color: #606061;
               position: absolute;
               opacity: 0;
               transition: all 0.2s ease-in-out;
           }
       }
    }
    .nav-toggle {
        display: none;
      width: 30px;
      padding: 10px 0;

      font-size: 0;
      color: transparent;
      border: 0;
      background: none;
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: 10%;
      z-index: 1;
      &:focus {
          outline: 0;
      }
      &.active .nav-toggle__item {
          background: none; 
          &:before {
              transform-origin: left top;
              transform: rotate(45deg) translateX(-3px);
          }
          &:after {
            transform-origin: bottom left;
              transform: rotate(-45deg) translateX(-3px);  
          }
      }
      &.nav-toggle--fixed {
          top: 35px;
      }
       
      .nav-toggle__item {
        display: block;
          width: 100%;
          height: 3px;
          background: #505050;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          transition: all 0.2s ease-in-out;

          &:before,
          &:after {
            content: "";
            position: absolute;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 3px;
            background-color: #505050; 
        transition: transform 0.5s ease-in-out;  
}
          &:before {
              top: -8px;
          } 
          &:after {
              top: 8px;
          }   
      }
    }
   }
}


   /* Intro */
.intro {
    background: url("../img/header.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    min-height: 820px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 50px;

    .intro__text {
        font-size: 45px;
        font-weight: 700;
        text-transform: uppercase;
        color: #505050;
        text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);
        line-height: 1.3;
        letter-spacing: 2px;
        padding-top: 115px;

        .txt_bg {
            background-color: #b2f2ee;
        }
    }
    .intro__btn {
        display: inline-block;
        vertical-align: top; 
        border: 2px solid #777879;
        padding: 15px 42px;
        text-decoration: none;
        color: #3c3c3d;
        font-size: 18px;
        font-weight: 600;
        margin-top: 135px;
        line-height: 1;
        letter-spacing: 2px;    
    }
}
 
   /* Section */

.section {
    padding-top: 130px;
    padding-bottom: 120px;
    text-align: center;
    

    &.section--grey {
        background-color: #f8fafa;
    }

    .section__header {
        margin-bottom: 120px;
        padding-left: 65px;
    }

    .section__title {
        font-weight: 700;
        font-size: 38px;
        letter-spacing: 2px;
        line-height: 1;
        text-transform: uppercase;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-bottom: 10px;
    }
    .section__text {
        font-family: $ff;
        font-size: 17px;
        color: #858686;
        text-transform: uppercase;
        letter-spacing: 0.6px;
        margin-block-start: 0;
        margin-block-end: 0;
    }
}
  
   /* About */

.about__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-top: 25px;
    .about__items {
        position: relative;
    .about__bg {
        position: relative;
        margin-top: 35px;
    }

    .about__img {
        position: absolute;
        left: 0;
        margin: 0 45px;
        box-shadow: 1px -1px 20px silver;    
    }
}
    .dots {
        display: flex;
        position: absolute;
        top: 115%;
        left: 45%;
        .dot {
            color: #d0d0d0;
            font-size: 11px;
            padding-right: 5px;
            &:hover {
                color: #71f6eb;
            }
        }
    }
    .about__info{    
    max-width: 485px;
    text-align: left;

    .about__title {
        font-size: 20px;
        font-weight: 700;
        font-family: $ff;
        color: #3e3f3f;
        text-transform: uppercase;
        line-height: 1.2;
    }
    .about__text {
        font-family: $ffr;
        color: #9d9e9e;
        line-height: 1.8;
        font-size: 16px;
    }
}
}

/* Works */
.works {
    display: flex;
    flex-wrap: wrap;
    
.works__items {
    padding-right: 10px;
    padding-bottom: 10px;
    width: 33.3%;
}
}

/* Services */
.services {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;

    .services__item {
        background-color: #4f4f4f;
        position: relative;

        &.services__item_first {
           background-color: #71f5ea; 
           position: relative;
        }
    }
    .services__item.services__item_first:hover .services__info.services__info_first {
        display: block;
    } 
    
    .services__item.services__item_first:hover .services__img {
        opacity: 0;
    } 

    .services__item.services__item_second:hover .services__img {
        opacity: 0;
    } 
    .services__item:hover .services__img {
        opacity: 0.1;
    }

    .services__item:hover .services__info {
        display: block;
    } 
   
    .services__img {
        transition: all 0.2s ease-in-out;
        display: block;
        
    }
}
.services__info.services__info_first {
    position: absolute;
    max-width: 70%;
    top: 10%;
    left: 10%;
    text-align: left;
    color: #234c49;
    display: none;
    transition: all 0.2s ease-in-out;
}

.services__info {
    position: absolute;
    max-width: 70%;
    top: 40%;
    left: 10%;
    text-align: left;
    color: #e5e7e7;
    display: none;
    transition: all 0.2s ease-in-out;

.services__title {
    font-size: 20px;
    font-family: $ff;
    font-weight: 700;
    text-transform: uppercase;
}  
.services__text {
    font-size: 16px;
    font-family: $ffr;
    line-height: 1.6;
    padding-bottom: 30px;
    
} 
.services__btn {
    text-transform: uppercase;
    font-size: 18px;
    font-family: $ffr;
    text-decoration: none;
    color: #e5e7e7;
} 
}
/* Team */
.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

.team__items {
    position: relative;
    width: 31%;

    &:hover .team__block {
      opacity: 1;
}
.team__img {
    padding-bottom: 10px;
}
.team__block {
    max-width: 90%;
    background-color: #6ff6eb;
    position: absolute;
    top: 40%;
    left: 10%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
        
.team__info {
    max-width: 90%;
    margin: 0 auto;
    padding: 30px 15px;

    .team__name {
        font-size: 20px;
        font-family: $ff;
        font-weight: 700;
        color: #2c3938;
    .team__prof {
        font-size: 15px;
        font-family: $ffr;
        font-weight: 300;
        color: #265551;
    }
}
    .team__text {
        text-align: left;
        font-family: $ffr;
        font-weight: 300;
        color: #265551;
        padding: 15px 0;
        font-size: 16px;
    }
.team__socials {
    text-align: left; 
}
}
}
}
}
 /* Say */

 .say__inner {
    display: flex;
    justify-content: space-between;

    .say__items { 
        position: relative;   
    .say__bg {
        position: relative;
        max-width: 90%;
    }

    .say__img {
        position: absolute;
        max-width: 75%;
        transform: translate(17%,-7%);
        box-shadow: 1px -1px 20px silver;
        left: 0;
    }
    .dots {
        display: flex;
        position: absolute;
        top: 115%;
        left: 45%;
        .dot {
            color: #d0d0d0;
            font-size: 11px;
            padding-right: 5px;
            &:hover {
                color: #71f6eb;
            }
        }
    }
}
    .say__info{    
    max-width: 664px;
    text-align: center;
    background-color: #eaebed;
    padding-top: 85px;
    position: relative;

    .say__name {
        font-size: 20px;
        font-weight: 700;
        font-family: $ff;
        color: #3e3f3f;
        text-transform: uppercase;
        line-height: 1.2;
        .say__prof {
            font-size: 15px;
            font-family: $ffr;
            font-weight: 300;
            color: #969797;
        }
    }
    .say__text {
        font-family: $ffr;
        color: #969797;
        font-size: 16px;
        line-height: 1.6;
        padding: 10px 80px;
    }
    .say__star {
       color: yellow; 
    }
}
}
.say__arrows {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
    .say__pre {
        background-color: #ffffff;
        padding: 10px 15px;
        color: #b2b2b2;
        border-radius: 2px;
        margin-right: 25px;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: #71f6eb;
            color: #25514d;
        }
    }
    .say__next {
        background-color: #ffffff;
        padding: 10px 15px;
        color: #b2b2b2;
        border-radius: 2px;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: #71f6eb;
            color: #25514d;
        }
    }
}

/* Logos */

.logos {
    padding: 100px 0;

    .logos__inner {
        display: flex;
        justify-content: center;
    .logos__item1 {
        background: url("../img/logos/1_1.jpg") center no-repeat;
        &:hover .logos__img1 {
            opacity: 0;
        }

    .logos__img1 {
       padding: 5px 30px; 
       transform: translateY(3%);  
       transition: all 0.2s ease-in-out;        
    }     
    }  
    .logos__item2 {
        background: url("../img/logos/2_2.jpg") center no-repeat;
        &:hover .logos__img2 {
            opacity: 0;
        }
    .logos__img2 {
        padding: 15px 30px; 
        transform: translateY(4%); 
        transition: all 0.2s ease-in-out;         
    }     
    }
    .logos__item3 {
        background: url("../img/logos/3_3.jpg") center no-repeat;
        &:hover .logos__img3 {
            opacity: 0;
        }
        
    .logos__img3 {
        padding: 20px 30px;
        transform: translateY(6%); 
        transition: all 0.2s ease-in-out;  
    }     
    } 
    .logos__item4 {
        background: url("../img/logos/4_4.jpg") center no-repeat;
        &:hover .logos__img4 {
            opacity: 0;
        }
        
    .logos__img4 {
        padding: 5px 30px; 
       transform: translateY(8%);  
       transition: all 0.2s ease-in-out;   
    }     
    }  
    .logos__item5 {
        background: url("../img/logos/5_5.jpg") center no-repeat;
        &:hover .logos__img5 {
            opacity: 0;
        }
        
    .logos__img5 {
        padding: 20px 30px;
        transform: translateY(10%); 
        transition: all 0.2s ease-in-out;  
    }     
    }       
}
}

/* Contacts */

.contacts {
    background: url("../img/footer.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    .contacts__inner {
        display: flex;
        justify-content: space-between;
        padding-top: 140px;

    .contacts__form {
        max-width: 55%;
        width: 100%;
        background-color: #021623;
        opacity: 0.7; 
        
        .contacts__row { 
            display: flex;
            flex-direction: column;
            margin: 35px auto;
            max-width: 85%;
            width: 100%;
            
            .contacts__name {
                font-size: 15px;
                font-family: $ffr;
                color: #a4abb0;
                background: none;
                border-width: 0;
                border-bottom: 2px #606e77 solid; 
                padding-bottom: 15px;
            }
            .contacts__sub {
                font-size: 15px;
                font-family: $ffr;
                color: #a4abb0;
                background: none;
                border-width: 0;
                border-bottom: 2px #606e77 solid; 
                padding: 25px 0 15px;
            }
            .contacts__email {
                font-size: 15px;
                font-family: $ffr;
                color: #a4abb0;
                background: none;
                border-width: 0;
                border-bottom: 2px #606e77 solid; 
                padding: 25px 0 15px;
            }
            .contacts__message {
                font-size: 15px;
                font-family: $ffr;
                color: #a4abb0;
                background: none;
                border-width: 0;
                border-bottom: 2px #606e77 solid; 
                padding: 25px 0 45px;
            }
            .contacts__btn {
                border-width: 0;
                padding-top: 30px;
                & input {
                    background-color: #6eeee4;
                    font-size: 15px;
                    font-weight: 600;
                    font-family: 'Montserrat', sans-serif;
                    color: #326b67;
                    padding: 10px 25px;
                    letter-spacing: 1.2px;
                }
            }
        }
        
}
    .contacts__info {
        background-color: #021623;
        opacity: 0.7;
        max-width: 42%;
        width: 100%;
        p {
            color: #d0d4d6;
            font-size: 15px;
            font-family: $ffr;
            line-height: 1.5;
            padding-left: 30px;
            padding-top: 20px;
        }
        img {
            max-width: 100%;
            height: auto;
            padding: 15px 20px;
        }
    }
}
}

/* Footer */

.footer {
    background-color: #262b2e;
    .footer__inner {
        text-align: center;
        padding: 60px;
        font-size: 16px;
        color: #b8b9ba;
        font-family: $ffr;
        font-weight: 300;

        .footer__socials {
            display: flex;
            justify-content: center;

            .footer__pinterest {
                background-color: #424648;
                padding: 5px 10px;
                margin-right: 5px;
                transition: all 0.2s ease-in-out;
                &:hover {
                    background-color: #6eeee4;
                    color: #070e0d;
                }
            }
            .footer__facebook {
                background-color: #424648;
                padding: 5px 10px;
                margin-right: 5px;
                transition: all 0.2s ease-in-out;
                &:hover {
                    background-color: #6eeee4;
                    color: #070e0d;
                }
            }
            .footer__twitter {
                background-color: #424648;
                padding: 5px 10px;
                margin-right: 5px;
                transition: all 0.2s ease-in-out;
                &:hover {
                    background-color: #6eeee4;
                    color: #070e0d;
                }
            }
            .footer__ball {
                background-color: #424648;
                padding: 5px 10px;
                transition: all 0.2s ease-in-out;
                &:hover {
                    background-color: #6eeee4;
                    color: #070e0d;
                }
            }
        }
    }
}

@media (max-width: 1170px) {

    /* Intro */
    .intro { 
        .intro__text {
        font-size: 40px;
    }
    .intro__btn {
        padding: 15px 35px;
        font-size: 16px;
        margin-top: 130px;    
    }
    }
    /* Section */
    .section {
      .section__header{
        padding-left: 0;  
      .section__title {
        font-size: 35px;
      } 
    }
    }
    /* About */
    .about{
        .about__inner {
            padding: 0;
        .about__info {
            padding: 15px;
        }
    }
    }
    /* Services */
    .services {
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 0;
        .services__item {
            margin-bottom: 10px;
            margin-right: 10px;
            .services__img {
            max-width: 100%;
            height: auto;
            }
        }
    }
    /* Team */
    .team {
        .team__items {
            .team__img {
                max-width: 100%;
                height: auto;
            }
            .team__block {
                max-width: 80%;
                left: 10%;
                .team__info {
                    padding: 15px 10px;
                    .team__name {
                        font-size: 15px;
                    .team__prof {
                        font-size: 13px;
                    }
                }
                .team__text {
                    font-size: 12px;
                }
                }
            }
        }
    }
}
@media (max-width: 990px) {

     /* Header */
    .header {
    .header__inner {   
    .nav {
        display: none;
        position: absolute; 
        top: 100%;
        width: 100%;
        background-color: #eff0f2;
        &.active {
            display: block;
        }
    .nav__link {
        display: block;
        margin: 10px 0;
        padding: 10px 0;
    }}

    .nav-toggle {
        display: block;
    } 
}} 
     /* Intro */
    .intro {
        .intro__text {
        font-size: 35px;
}
    .intro__btn {
        padding: 12px 30px;
        font-size: 14px;
        margin-top: 115px;    
}
}
/* Section */
.section {
    padding-bottom: 100px;
    padding-top: 120px;
    .section__header{
        margin-bottom: 80px;  
  }
  }
/* About */
.about{
    .about__inner {
        justify-content: center;
        margin-bottom: 0;
    .about__items {
        display: none;
    }
    .about__info {
        text-align: center;
    }
}
}
/* Works */
.works {
    justify-content: center;
.works__items {
    width: 300px;
    max-width: 100%;
}
}
/* Services */
.services {
    .services__info {
        top: 20%;
    }
}
 /* Team */
 .team {
    justify-content: center;
    .team__items {
        width: auto;
        margin-right: 10px;
        
    }
}
/* Say */

.say__inner {
    flex-wrap: wrap;
    justify-content: center;
    .say__items {
        margin-bottom: 100px;
    }
}
.say__arrows {
    justify-content: center;
}
/* Logos */

.logos {
    .logos__inner { 
        display: flex;
        flex-wrap: wrap; 
   .logos__img1 {
       max-width: 100%;
       height: auto;
   }
   .logos__img2 {
    max-width: 100%;
    height: auto;
} 
.logos__img3 {
    max-width: 100%;
    height: auto;
} 
.logos__img4 {
    max-width: 100%;
    height: auto;
} 
.logos__item5 {
.logos__img5 {
    max-width: 100%;
    height: auto;
    transform: translateY(3%);
} }
}
}
}
@media (max-width: 870px) {
    /* Intro */
   .intro {
    background: #eff0f2;
    height: auto;
    padding: 90px 30px;
}
}
@media (max-width: 760px) {
    /* Header */
    .header {
        padding-top: 35px;

        .header__inner {      
        .nav {
        .nav__link {
            display: block;
            margin: 6px 0;
        }}
        .nav-toggle {
            top: 50px;
        }
    }}
    /* Intro */
   .intro {
    min-height: 580px;
    padding-bottom: 0;

       .intro__text {
       font-size: 25px;
       padding-top: 15px;
}
   .intro__btn {
       padding: 9px 18px;
       font-size: 11px;
       margin-top: 70px;    
}
}
 /* Section */
 .section {
    padding-top: 80px;
    padding-bottom: 50px;

    .section__header{ 
        margin-bottom: 50px;  
    .section__title {
      font-size: 30px;
    } 
    .section__text {
        font-size: 15px;
    }
  }
  }
  /* Logos */

.logos {
    padding: 80px 0;
    .logos__inner { 
.logos__item4 {
.logos__img4 {
    transform: translateY(3%);
}}
.logos__item5 {
.logos__img5 {
    transform: translateY(5%);
} }
}
}
/* Contacts */

.contacts {
    max-width: 100%;
    height: auto;
 .contacts__inner {
    padding-top: 80px;
     flex-wrap: wrap;
     .contacts__form {
        max-width: 100%;
        margin-bottom: 20px;
 } 
 .contacts__info {
    max-width: 100%; 
    margin-bottom: 20px;
    text-align: center;
}
}
}
}

@media (max-width: 540px) {
   
    /* Intro */
   .intro {
    padding: 50px 20px;
    min-height: 350px;

       .intro__text {
       font-size: 16px;
       margin-top: 60px;
}
   .intro__btn {
       padding: 7px 15px;
       font-size: 9px;
       margin-top: 40px;    
}
}
/* Header */
.header {
    .header__logo {
        max-width: 100%;
        width: 90px;
    }

    .header__inner {      
    .nav {
    .nav__link {
        font-size: 10px;
        margin: 2px 0;
        padding: 4px 0;
        &:after {
            height: 2px;
        }
    }}
    .nav-toggle {
        top: 35px;
    }
}}
/* Section */
.section {
    padding-top: 40px;
    padding-bottom: 0;
    .section__header{ 
        margin-bottom: 20px;  
    .section__title {
      font-size: 20px;
    } 
    .section__text {
        font-size: 10px;
    }
  }
  }
  /* About */
.about{
    .about__inner {
    .about__info {
    .about__title {
        font-size: 14px;
    }
    .about__text {
        line-height: 1.2;
    }
    }
}
}
/* Services */
.services {
    .services__info {
        .services__title {
            font-size: 10px;
        }
        .services__text {
            font-size: 8px;
        }
        .services__btn {
            font-size: 10px;
        }
    }
}
/* Say */

.say__inner {
    .say__info {
    max-width: 90%;
    padding: 30px 5px;
    .say__name {
        font-size: 15px;
        .say__prof {
            font-size: 13px;
        }
    }
    .say__text {
        font-size: 12px;
line-height: 1.6;
padding: 5px 15px;
    }
    }
}
.say__arrows {
    padding: 20px 0;
}
.logos {
    .logos__inner { 
.logos__item2 {
    .logos__img2 {
        transform: translateY(3%);
    }
}
.logos__item3 {
    .logos__img3 {
        transform: translateY(3%);
    }
}
.logos__item5 {
.logos__img5 {
    transform: translateY(4%);
} }
}
}
/* Footer */
.footer__inner {
    h2 {
        font-size: 1em;
    }
    p {
        font-size: 12px;
    }
}
}
